pyarrow==18.1.0
jupyter_server==2.14.2
debugpy==1.8.9
pox==0.3.5
h2==4.1.0
setproctitle==1.3.4
numpy==1.26.4
gitdb==4.0.11
widgetsnbextension==4.0.13
entrypoints==0.4
requests==2.32.3
smdebug-rulesconfig==1.0.1
schema==0.7.7
Pygments==2.18.0
sagemaker-core==1.0.17
joblib==1.4.2
safetensors==0.4.5
scipy==1.14.1
MarkupSafe==3.0.2
sagemaker==2.237.0
notebook==6.5.4
nvgpu==0.10.0
Flask-RESTful==0.3.10
tomli==2.2.1
matplotlib==3.9.3
cryptography==44.0.0
imageio==2.36.1
nest_asyncio==1.6.0
tzdata==2024.2
filelock==3.16.1
slicer==0.0.8
certifi==2024.8.30
jsonpointer==3.0.0
websocket-client==1.8.0
mpmath==1.3.0
ipython==8.21.0
pandocfilters==1.5.0
argon2-cffi-bindings==21.2.0
ninja==1.11.1.2
starlette==0.41.3
pytorch-lightning==2.5.0.post0
triton==3.1.0
httpcore==1.0.7
torchserve==0.11.1b20240718
torchvision==0.20.1
six==1.17.0
pyzmq==26.2.0
soupsieve==2.5
jupyter_client==8.6.3
propcache==0.2.1
jupyterlab_server==2.27.3
torch==2.5.1
pycparser==2.22
nbclassic==1.1.0
ansi2html==1.9.2
wheel==0.45.1
cycler==0.12.1
executing==2.1.0
albumentations==1.4.24
pillow==11.0.0
importlib_resources==6.4.5
jupyter-events==0.10.0
prometheus_client==0.21.1
httpx==0.28.1
omegaconf==2.2.3
jupyterlab==4.3.2
python-dateutil==2.9.0.post0
pytz==2024.1
matplotlib-inline==0.1.7
pure_eval==0.2.3
kiwisolver==1.4.7
setuptools==75.6.0
rich==13.9.4
tornado==6.4.2
transformer_engine_cu12==1.12.0
timm==1.0.12
rsa==4.7.2
networkx==3.4.2
itsdangerous==2.2.0
pydantic==2.10.3
scikit-learn==1.5.2
aiohappyeyeballs==2.4.4
beautifulsoup4==4.12.3
unicodedata2==15.1.0
prompt_toolkit==3.0.48
cloudpickle==2.2.1
sympy==1.13.1
wcwidth==0.2.13
overrides==7.7.0
frozenlist==1.5.0
aiohttp==3.11.11
docutils==0.16
transformer_engine==1.12.0
termcolor==2.5.0
jupyterlab_pygments==0.3.0
multiprocess==0.70.17
jupyter_core==5.7.2
blinker==1.9.0
pickleshare==0.7.5
albucore==0.0.23
shap==0.46.0
pygame==2.6.1
Brotli==1.1.0
h11==0.14.0
smclarify==0.5
defusedxml==0.7.1
bokeh==3.6.2
pybind11==2.13.6
babel==2.16.0
nbformat==5.10.4
gym==0.26.2
importlib-metadata==6.11.0
patsy==1.0.1
anyio==4.7.0
torch-workflow-archiver==0.2.15b20240930
aiosignal==1.3.2
tabulate==0.9.0
parso==0.8.4
smmap==5.0.1
asttokens==3.0.0
pydantic_core==2.27.1
pybind11_global==2.13.6
jsonschema-specifications==2024.10.1
packaging==21.3
boto3==1.35.76
zipp==3.21.0
pyparsing==3.2.0
torchtext==0.6.0
click==8.1.7
rpds-py==0.22.3
typing_extensions==4.12.2
isoduration==20.11.0
transformer_engine_torch==1.12.0
munkres==1.1.4
statsmodels==0.14.4
pynvml==12.0.0
aniso8601==9.0.1
xyzservices==2024.9.0
PyYAML==6.0.2
Werkzeug==3.1.3
pyasn1==0.6.1
torchaudio==2.5.1
sentry-sdk==2.19.2
ruamel.yaml==0.18.6
threadpoolctl==3.5.0
ptyprocess==0.7.0
types-python-dateutil==2.9.0.20241206
rfc3986-validator==0.1.1
wandb==0.19.1
fastapi==0.115.6
captum==0.7.0
attrs==23.2.0
pathos==0.3.3
pyfunctional==1.5.0
webencodings==0.5.1
seaborn==0.13.2
docker==7.1.0
tblib==3.0.0
cached-property==1.5.2
simsimd==6.2.1
nbclient==0.10.1
ipykernel==6.29.5
exceptiongroup==1.2.2
fqdn==1.5.1
terminado==0.18.1
ruamel.yaml.clib==0.2.12
numba==0.60.0
decorator==5.1.1
charset-normalizer==3.4.0
colorama==0.4.6
fastjsonschema==2.21.1
zstandard==0.23.0
nvidia-ml-py==12.560.30
ipywidgets==8.1.5
llvmlite==0.43.0
mdurl==0.1.2
traitlets==5.9.0
pip==24.3.1
notebook_shim==0.2.4
jupyter-lsp==2.2.5
lightning-utilities==0.11.9
ipython_genutils==0.2.0
tinycss2==1.4.0
multidict==6.1.0
gmpy2==2.1.5
pandas==2.2.3
annotated-types==0.7.0
uvicorn==0.32.1
protobuf==4.25.5
nbconvert==7.16.4
gym-notices==0.0.8
contourpy==1.3.1
yarl==1.18.3
jupyterlab_widgets==3.0.13
torch-model-archiver==0.12.0b20240930
jmespath==1.0.1
uri-template==1.3.0
argon2-cffi==23.1.0
pkgutil_resolve_name==1.3.10
google-pasta==0.2.0
rfc3339_validator==0.1.4
bleach==6.2.0
torchmetrics==1.6.1
pexpect==4.9.0
arrow==1.3.0
referencing==0.35.1
huggingface-hub==0.27.0
jsonschema==4.23.0
stringzilla==3.11.3
GitPython==3.1.43
json5==0.10.0
cffi==1.17.1
typing_utils==0.1.0
mistune==3.0.2
Send2Trash==1.8.3
jedi==0.19.2
s3transfer==0.10.4
comm==0.2.2
s3fs==0.4.2
flash_attn==2.4.2
python-json-logger==2.0.7
botocore==1.35.76
tqdm==4.67.1
urllib3==2.2.3
jupyter_server_terminals==0.5.3
dill==0.3.9
docker-pycreds==0.4.0
PySocks==1.7.1
antlr4-python3-runtime==4.9.3
awscli==1.36.17
stack_data==0.6.3
webcolors==24.11.1
hpack==4.0.0
opencv-python-headless==4.10.0.84
sniffio==1.3.1
hyperframe==6.0.1
async-lru==2.0.4
fonttools==4.55.2
psutil==6.1.0
Flask==3.1.0
fsspec==2024.10.0
idna==3.10
dparse==0.6.4
ppft==1.7.6.9
einops==0.8.0
Jinja2==3.1.4
mock==4.0.3
markdown-it-py==3.0.0
platformdirs==4.3.6
